[Unit]
Description=Check battery status every few minutes to warn about low batery
Requires=alert-battery.service

[Timer]
OnBootSec=1m
OnUnitActiveSec=45s

[Install]
WantedBy=timers.target
